<% if @view_in_config && @erb_code %>
<%= render inline: ERB.new(@erb_code).result(binding) %>

<% else %>

	<h4><%= @title %></h4>

	<p>
		<b><%= t('Role') %></b>
		<%= @role_access_right.user_role.name %>
	</p>
	<p>
		<b><%= t('Action') %></b>
		<%= @role_access_right.action %>
	</p>
	<p>
		<b><%= t('Biz Form') %></b>
		<%= @role_access_right.biz_form.name if @role_access_right.biz_form_id.present? %>
	</p>
	<p>
		<b><%= t('Brief Note') %></b>
		<%= @role_access_right.brief_note %>
	</p>
	<p>
		<b><%= t('Last Updated By') %></b>
		<%= @role_access_right.last_updated_by.name if @role_access_right.last_updated_by_id.present? %>
	</p>

	<%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>



<% end %>
