<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>

<div class="pagination"><%= will_paginate models %></div>
<h4><%=@title %></h>
	<table class="table table-striped">
		<tr>
			<th>#</th>
			<th><%= t('Workflow Name') %></th>
			<th><%= t('Form') %></th>	
			<th><%= t('Brief Note') %></th>
			<th><%= t('Last Updated By') %></th>
			<th></th>
			
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<% unless has_action_right?('show', params[:controller], r) %>
		  	  <td><%= prt(r, :id) %></td>
		  	<% else %>
		  	  <td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{workflow_path(r)}" %></td>
		  	<% end %>
		  	<td><%= prt(r, :name) %></td>
			<td><%= prt(r, 'biz_form.name') %></td>
			<td><%= prt(r, :brief_note) %></td>
			<td><%= prt(r, 'last_updated_by.name') %></td>    
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_workflow_path(r)}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>	
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('New Workflow'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape new_workflow_path(project_info_id: @project_info.id, parent_resource: 'sw_project_customer_qnax/project_infos', parent_record_id: @project_info.id) }", :class => BUTTONS_CLS['action']  if @project_info && has_action_right?('create', params[:controller]) %>
	    	
	    </th>
	  </tr>
	</table>

<% end %>	
