<% if @view_in_config && @erb_code_field %>
  <%= render inline: ERB.new(@erb_code_field).result(binding) %>
  
<% else %>
<div class="fields">
	
  <%= f.input :ranking_index, :label => t('Nth Step'), :as => :integer, :required => true, :placeholder => '1,2,3...' %>
  <%= f.input :user_role_id, :label => t("User Role"), :collection => @user_roles.map{|x| [x.name, x.id]}, :include_blank => true %>
  <%= f.input :action, :label => t('Action'), :required => true %>
  <%= f.input :brief_note, :label => t("Brief Note")%>

  <%= link_to_remove_fields t("Delete Step"), f %>
</div>

<% end %>
