<% if @view_in_config && @erb_code %>
  <%= render inline: @erb_code %>
  
<% else %>
<h4><%=@title %></h4>
<%= simple_form_for @project_info do |f| %>
  <%= f.input :customer_name, :label => t('Customer'), :readonly => true, :input_html => {:value => @customer.name} %>
  <%= f.input :project_id, :label => t('Project Name'), :collection => @sw_projects, :include_blank => true %>
  <%= f.input :customer_id, :as => :hidden, :input_html => {:value => @customer.id} %>
  <%= f.input :key_biz_form, :label => t('Key Biz Form') %>
  <%= f.input :about_department, :label => t('Departments'), :input_html => { :rows => 2}, :placeholder => 'List all departments' %>
  <%= f.input :goal_to_achieve, :label => t('Goal'), :input_html => { :rows => 3} %>
  <%= f.input :main_biz, :label => t('Main Biz'), :input_html => { :rows => 3} %>
  <%= f.input :number_of_user, :label => t('Number of User') %>
  <%= f.input :broswer_in_use, :label => t('Broswer in Use')%>
  <%= f.input :im_in_use, :label => t('IM in Use')%>
  <%= f.input :os_in_use, :label => t('OS in Use')%>
  <%= f.input :about_broadband, :label => t('About Broadband'), :input_html => { :rows => 2} %>
  <%= f.input :about_hardware, :label => t('About Hardware'), :input_html => { :rows => 2} %>
  <%= f.input :about_software, :label => t('About Software'), :input_html => { :rows => 2} %>
  <%= f.input :about_network, :label => t('About Network'), :input_html => { :rows => 2} %>
  <%= f.input :about_data_center, :label => t('About Data Center'), :input_html => { :rows => 2}, :placeholder => 'Tell us about the data center' %>
  <%= f.input :issue_to_solve, :label => t('Issue To Solve'), :input_html => { :rows => 2} %>
  <%= f.input :about_office_location, :label => t('Office Location'), :input_html => { :rows => 2}, :placeholder => 'List all locations' %>
  
  
  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %>
<% end %>

<% end %>


