<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div class="pagination"><%= will_paginate models %></div>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%= t('Create Date') %></th>
    <th><%= t('Project Name') %></th>
    <th><%= t('Key Biz Form') %></th>
    <th><%= t('Project Goal') %></th>
    <th><%= t('Submitted By') %></th>
    <th><%= t('Last Updated By') %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% models.each do |r| %>
  <tr>
  	<% project = SwProjectCustomerQnax.project_class.find_by_id(r.project_id) %>
    <% if has_action_right?('show', params[:controller], r) %>
        <td><%= link_to r.id, SUBURI + "/authentify/view_handler?index=1&url=#{project_info_path(r)}"  %></td>
    <% else %>
        <td><%= r.id %></td>
    <% end %>
    <td><%= prt(r, :created_at).strftime('%Y/%m/%d') %></td>
  	<td><%= project.name %></td>
  	<td><%= prt(r, :key_biz_form) %></td> 
    <td><%= r.goal_to_achieve[0..40] %></td> 
    <td><%= prt(r, 'submitted_by.name') if r.submitted_by_id.present? %></td>
    <td><%= prt(r, 'last_updated_by.name') if r.last_updated_by_id.present? %></td>
    <td><%= link_to t('User Roles'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(user_roles_path(:project_info_id => r.id))}" , :class => BUTTONS_CLS['action'] if has_action_right?('index', 'sw_project_customer_qnax/user_roles' )  %></td>
    <td><%= link_to t('User Access Rights'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(role_access_rights_path(:project_info_id => r.id))}" , :class => BUTTONS_CLS['action'] if has_action_right?('index', 'sw_project_customer_qnax/role_access_rights' )  %></td>
    <td><%= link_to t('Biz Workflows'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(workflows_path(:project_info_id => r.id))}" , :class => BUTTONS_CLS['action'] if has_action_right?('index', 'sw_project_customer_qnax/workflows' )  %></td>
    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_project_info_path(r)}" , :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r )  %></td>
    
  </tr>
<% end %>
</table>

<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Project Info'), SUBURI + "/authentify/view_handler?index=1&url=#{new_project_info_path(project_id: @project.id, customer_id: @customer.id)}", :class => BUTTONS_CLS['action'] if @project && @customer && has_action_right?('create', params[:controller]) %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('Search'), SUBURI + "/authentify/view_handler?index=1&url=#{search_project_infos_path}", :class => BUTTONS_CLS['action'] if has_action_right?('search', params[:controller]) %>
    </th>
  </tr>
</table>

<% end %>



