<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>

<h4><%= @title %></h4>

<p>
    <b><%= t('Create Date') %></b>
    <%= @project_info.created_at.strftime('%Y/%m/%/d') %>
</p>
<p>
  <b><%= t('Project Name') %></b>
  <%= @project.name %>
</p>
<p>
  <b><%= t('Customer') %></b>
  <%= @customer.name %>
</p>
<p>
  <b><%= t('About Broadband') %></b>
  <%= @project_info.about_broadband %>
</p>
<p>
  <b><%= t('About Department') %></b>
  <%= @project_info.about_department %>
</p>
<p>
  <b><%= t('Project Goal') %></b>
  <%= @project_info.goal_to_achieve %>
</p>
<p>
  <b<%=t('Issue to Solve')%></b>
  <%= @project_info.issue_to_solve %>
</p>
<p>
  <b><%= t('Key Biz form') %></b>
  <%= @project_info.key_biz_form %>
</p>
<p>
  <b><%= t('Main Biz') %></b>
  <%= @project_info.main_biz %>
</p>
<p>
  <b><%= t('# of User') %></b>
  <%= @project_info.number_of_user %>
</p>
<p>
  <b><%= t('IM in Use') %></b>
  <%= @project_info.im_in_use %>
</p>
<p>
  <b><%= t('Broswer in Use') %></b>
  <%= @project_info.broswer_in_use %>
</p>
<p>
  <b><%= t('OS in Use') %></b>
  <%= @project_info.os_in_use %>
</p>
<p>
  <b><%= t('About Hardware') %></b>
  <%= @project_info.about_hardware %>
</p>
<p>
  <b><%= t('About Software') %></b>
  <%= @project_info.about_software %>
</p>
<p>
  <b><%= t('About Network') %></b>
  <%= @project_info.about_network %>
</p>
<p>
  <b><%= t('About Data Center') %></b>
  <%= @project_info.about_data_center %>
</p>
<p>
  <b><%= t('Submitted By') %></b>
  <%= @project_info.submitted_by.name if @project_info.submitted_by_id.present? %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @project_info.last_updated_by.name if @project_info.last_updated_by_id.present? %>
</p>
<p>
  <b><%= t('Locked') %></b>
  <%= @project_info.locked ? t('Yes') : t('No') %>
</p>
<p>
  <b><%= t('LOG：') %></b>
  <% Commonx::Log.where('resource_id = ? AND resource_name = ?', @project_info.id, params[:controller].sub('/', '_')).order("created_at DESC").each do |t| %>
    <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.last_updated_by.name %>,&nbsp; <%= t.log %></li>
  <% end %>
</p>

<table class="table table-striped">
  <tr>
    <th>
    	<%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Log'), SUBURI + commonx.new_log_path(:resource_id => @project_info.id, :resource_name => params[:controller], :subaction => 'project_customer_info',
    	     :format => :js), :remote => true, :id => 'new_log_link' , :class => BUTTONS_CLS['action'] if has_action_right?('create_project_customer_info', 'commonx/logs') %>
    </th>
  </tr>
</table>



<% end %>
